<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studentdatacard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentDataCard">
        <activity android:name=".EncryptionData.MainLogic"></activity>
        <activity android:name=".EncryptionData.MyEncryption" />
        <activity android:name=".Document.adddata" />
        <activity android:name=".Document.DocumentActivity" />
        <activity android:name=".VerifyOTP" />
        <activity android:name=".SendOTP" />
        <activity android:name=".AdminPanel" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".OnBoarding.SliderAdapterIntro"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".OnBoarding.ProgressBarAnimation"
            tools:ignore="Instantiatable" />
        <activity android:name=".OnBoarding.intropage" />
        <activity android:name=".OnBoarding.LoadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>